{% extends 'twig/layouts/main.twig' %}

{% block main %}

    <div id="about" class="wrapper">
        <div class="bks-title-box">
            <h1>{{ page.post_title }}</h1>
        </div>
        <div id="about--content">
            {{ wpautop(page.post_content)|raw }}
        </div>
        {% if members is not empty %}
        <div id="about--team">
            <ul>
                {% set modulo = 3 %}
                {% for i, member in members %}
                {% if modulo - 1 == i % modulo %}
                    <li class="last">
                {% else %}
                    <li>
                {% endif %}
                        <div class="member clearfix">
                            <div class="member--picture">
                                {{ fn.wp_get_attachment_image(member.pic, 'member-pic') }}
                            </div>
                            <div class="member--bio">
                                <h4>{{ member.full_name }}</h4>
                                <p>{{ member.job }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <!-- Blog -->
    {% include 'twig/blog/latest.twig' %}
    <!-- End blog -->

{% endblock %}