{% extends 'twig/layouts/main.twig' %}

{% block main %}
    <div id="blog" class="wrapper">
        <div class="bks-title-box">
            <h1>{{ __("Latest News", THEME_TEXTDOMAIN) }}</h1>
        </div>
        <div id="news" class="clearfix">
            <!-- Articles -->
            {% if articles is not empty %}
                <div id="news--articles">
                    {% for article in articles %}
                        <article>
                            <div class="article--date">
                                <span>{{ fn.get_the_date('j F Y', article.ID) }}</span>
                            </div>
                            <a href="{{ fn.get_permalink(article.ID) }}" class="article--title"><h2>{{ article.post_title }}</h2></a>
                            {% if fn.has_post_thumbnail(article.ID) %}
                                {{ fn.get_the_post_thumbnail(article.ID)|raw }}
                            {% endif %}
                            <div class="article--excerpt clearfix">
                                <div class="article--excerpt__content">
                                    <p>{{ article.post_excerpt }}</p>
                                    <a href="{{ fn.get_permalink(article.ID) }}" class="tiny-button yellow">{{ __("Read more", THEME_TEXTDOMAIN) }}</a>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            {% else %}
                <p>{{ __("Sorry, no articles available", THEME_TEXTDOMAIN) }}</p>
            {% endif %}
            <!-- End articles -->
            <!-- Sidebar -->
            <div id="news--sidebar">
                <div class="sidebar">
                    {{ dynamic_sidebar('blog-sidebar') }}
                </div>
            </div>
            <!-- End Sidebar -->
        </div>
    </div>
{% endblock %}