{% extends 'twig/layouts/main.twig' %}

{% block main %}

    <!-- Book Promo -->
    <div id="bks-promo" style="background-color: {{ meta('color', promo.ID) }};">
        <div class="wrapper">
            <div class="promo-wrapper">
                <div class="promo-container">
                    <h1>{{ promo.post_title }}</h1>
                    <h5>{{ '%s %s'|format(__("By", constant('THEME_TEXTDOMAIN')), meta('author', promo.ID)) }}</h5>
                    <a href="{{ fn.get_permalink(promo.ID) }}" class="big-button">{{ __("Buy book", constant('THEME_TEXTDOMAIN')) }}</a>
                </div>
                <div class="promo-media">
                    <img src="{{ fn.wp_get_attachment_image_url(meta('promo-image', promo.ID), 'book-promo') }}" alt="{{ promo.post_title }}" width="399" height="435">
                </div>
            </div>
        </div>
    </div>
    <!-- End Book Promo -->

    <!-- Popular -->
    <div id="popular-books" class="wrapper">
        <div class="bks-title-box">
            <h1>{{ __("Popular", constant('THEME_TEXTDOMAIN')) }}</h1>
            <a href="{{ fn.get_post_type_archive_link(promo.post_type) }}" title="{{ __("Books", constant('THEME_TEXTDOMAIN')) }}" class="bks-link">{{ '> %s'|format(__("All Books", constant('THEME_TEXTDOMAIN'))) }}</a>
        </div>
        <div id="popular-container">
            <ul class="books">
                {% set modulo = 3 %}
                {% for i, book in books %}
                    {% if 2 == i % modulo %}
                        <li class="last">
                    {% else %}
                        <li>
                    {% endif %}
                        <div class="book">
                            <h3>{{ book.post_title }}</h3>
                            {% if (fn.has_post_thumbnail(book.ID)) %}
                                <a href="{{ fn.get_permalink(book.ID) }}" class="book-featured-box" style="background-color: {{ meta('color', book.ID) }};">
                                    {{ fn.get_the_post_thumbnail(book.ID, 'book-features-image')|raw }}
                                </a>
                            {% endif %}
                            <p>{{ book.post_excerpt }}</p>
                            <div class="button-box">
                                <a href="{{ fn.get_permalink(book.ID) }}" class="tiny-button">{{ __("Buy", constant('THEME_TEXTDOMAIN')) }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- End Popular -->

    {% include 'twig/blog/latest.twig' %}

{% endblock %}