{% extends 'twig/layouts/main.twig' %}

{% block main %}

    <div id="books" class="wrapper">
        <div class="bks-title-box">
            <h1>{{ __("Collection", constant('THEME_TEXTDOMAIN')) }}</h1>
        </div>
        <div id="books--collection">
            <ul class="books">
            {% set modulo = 3 %}
                {% for i, book in books %}
                {% if modulo - 1 == i % modulo %}
                    <li class="last">
                {% else %}
                    <li>
                {% endif %}
                        <div class="book">
                            <h3>{{ book.post_title }}</h3>
                            {% if fn.has_post_thumbnail(book.ID) %}
                                <a href="{{ fn.get_permalink(book.ID) }}" class="book-featured-box" style="background-color: {{ meta('color', book.ID) }};">
                                    {{ fn.get_the_post_thumbnail(book.ID, 'book-features-image')|raw }}
                                </a>
                            {% endif %}
                            <p>{{ fn.get_the_excerpt(book.ID) }}</p>
                            <div class="button-box">
                                <a href="{{ fn.get_permalink(book.ID) }}" class="tiny-button">{{ __("Buy", constant('THEME_TEXTDOMAIN')) }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}